@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

span, p, li, h1, h2, h3, h4, td{ 
  color: #4D4D4D;
}

h1{ 
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
}

h2{ 
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

h3{ 
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: semi-bold;
  margin-bottom: 0.75rem;
}

h4{ 
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

p{ 
  margin-bottom: 0.5rem;
}